body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #27292c;
  color: white;
}

header{
  display: flex;
  align-items: center;
  gap: 20px;
  color: rgb(10, 210, 240);
  max-width: 1600px;
  padding: 15px 25px;
  background: #1e1e1e;
}
.title{
  margin-left: 50px;
  padding-top: 50px;
}
.content{
  margin-left: 50px;
  list-style: none;
}
.content li {
  padding: 10px 0;
  padding-left: 30px;
  position: relative;
}
.content li::before{
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #61dafb;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.page {
  height: 100vh;   
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;   
}